.session-selector {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.select-elem {
    width: 300px;
    text-align: center;
    height: 2rem;
    font-size: 1rem;
    outline: none;
    border: 2px solid #ffffff42;
    background-color: black;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.driver-select-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* border: 1px solid white; */
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
    margin-top: 1rem;
}

.driver-select-container > h2 {
    margin-bottom: 1rem;
}

.driver-select {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
}

.driver {
    flex: 1;
    border: 1px solid;
    border-radius: 5px;
    padding: 0.25rem;
    margin: 0 5px;
    cursor: pointer;
}

.selected-laps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.selected-lap {
    min-width: 200px;
    border-radius: 5px;
    margin: 0 0.5rem;
    cursor: pointer;
}

.chart-container {
    border: 2px solid #ffffff42;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

hr {
    margin: 2rem auto;
    width: 95%;
}