.menu {
    width: 1100px;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem auto;
}

.tile {
    position: relative;
    width: calc(50% - 40px - 4px);
    min-width: 300px;
    margin: 20px;
    aspect-ratio: 1.7;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid white;

    cursor: pointer;
    overflow: hidden;
}

.tile img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
}

.tile .text {
    position: absolute;
    padding: 30px;
    height: calc(100% - 60px);
}

.tile h1 {
    font-weight: 300;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h2 {
    font-weight: 100;
    margin: 20px 0 0 0;
    font-style: italic;
    transform: translateX(-200px);
}

.tile p {
    font-weight: 300;
    margin: 20px 0 0 0;
    padding: 0 40px;
    line-height: 25px;
    transform: translateX(200px);
    transition-delay: 0.2s;
    text-align: justify;
}

.animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
    color: black;
}

.tile:hover img {
    opacity: 0.2;
}

.tile:hover .animate-text {
    transform: translateX(0);
    opacity: 1;
    color: white;
}

@media screen and (max-width: 1125px) {
    .tile p {
        display: none;
    }
}

@media screen and (max-width: 825px) {
    .animate-text {
        display: none;
    }
}