.chart-container2 {
    width: 90%;
    /* height: 700px; */
    min-height: 700px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border: 2px solid #ffffff42;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    text-align: center;

    padding: 10px 0 20px 0;
}

.bar-chart {
    width: 45%;
    height: 700px;
    /* min-width: 400px; */

    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    .bar-chart {
        width: 90%;
    }
}