@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  margin: 0;
  padding: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

a.am5exporting-icon {
  background: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.selector {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.select-elem {
  width: 300px;
  text-align: center;
  height: 2rem;
  font-size: 1rem;
  outline: none;
  border: 2px solid #ffffff42;
  background-color: black;
  margin: 0.5rem 5px;
}

.button {
  width: 300px;
  text-align: center;
  height: 2.5rem;
  font-size: 1rem;
  outline: none;
  border: 2px solid #ffffff42;
  background-color: black;
  margin: 0.5rem 5px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(29, 29, 29);
}

.button:focus {
  border: 2px solid #ff000063;
}

.button:disabled {
  background-color: rgb(0, 0, 0);
  color: #ffffff42;
  border: 2px solid #ffffff28;
  cursor: auto;
}

@font-face {
    font-family: f1bold;
    src: url(./assets/Formula1-Bold_web_0.ttf);
}

@font-face {
    font-family: f1regular;
    src: url(./assets/Formula1-Regular_web_0.ttf);
}

@font-face {
    font-family: f1wide;
    src: url(./assets/Formula1-Wide_web_0.ttf);
}